/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Variables */
:root {
  --black: rgb(0, 0, 0);
  --bgDark: rgb(40, 40, 40);
  --bgLight: rgb(54, 54, 54);
  --primaryPink: rgb(247, 150, 174);
  --secondaryPink: rgba(247, 150, 174, 0.4);
  --primaryPinkOp: rgba(247, 150, 174, 0.6);
  --light: rgb(191, 191, 191);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.btn {
  width: 5em;
  height: 1.5em;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryPink);
}

a {
  text-decoration: none;
  color: var(--primaryPink);
}

.btn:hover,
a:hover {
  cursor: pointer;
  background-color: var(--secondaryPink);
}

/* Main styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--bgDark);
  width: 100vw;
  color: var(--light);
}

form {
  margin: 2.5em auto;
}

form > input {
  height: 1.5em;
  border-radius: 5px;
  border: none;
}

#result {
  width: 90%;
  margin: 2.5em auto;
}

#userInfo {
  display: flex;
  border: 2px solid var(--primaryPink);
}

.image > img {
  border-radius: 50%;
  margin: 1.25em 0.9em;
}

.user {
  width: 100%;
  background-color: var(--bgLight);
}

.card {
  margin: 1.25em 0.9em;
}

.card,
.repo-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card > h2 {
  color: var(--primaryPink);
}

.date,
.language {
  color: var(--light);
  font-weight: 400;
}

.bio {
  margin: 1.85em 0.9em;
  text-align: left;
}

.card > h3,
.card-element > h3,
.card-element > i,
.repo-info > h3 {
  color: var(--primaryPinkOp);
}

.repos {
  border: 1px solid var(--primaryPinkOp);
  padding: 0.9em;
}

#userRepos {
  margin-top: 3em;
}

#userRepos > ul {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primaryPink);
  list-style: none;
}

#userRepos > ul > li {
  border-bottom: 1px solid var(--primaryPink);
  padding: 0.75em;
}

#userRepos > ul > li:nth-child(even) {
  background-color: var(--bgLight);
}

#userRepos > ul > li:last-child {
  border-bottom: none;
}

.repo-info,
.repo-info > p {
  padding: 0.75em 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 300px) {
  form {
    width: 15em;
  }

  form > input {
    width: 12em;
    height: 1.5em;
  }

  #userInfo {
    flex-direction: column;
  }

  .image {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--primaryPink);
  }

  .image > img {
    width: 4.3em;
  }

  .card,
  .repo-name {
    flex-direction: column;
  }

  .date,
  .language {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 600px) {
  form {
    width: 18em;
  }

  form > input {
    width: 14em;
  }

  .card,
  .repo-name {
    flex-direction: row;
  }

  .bio {
    justify-content: flex-start;
    gap: 3em;
  }
}

@media screen and (min-width: 900px) {
  form {
    width: 21.25em;
  }

  form > input {
    width: 15.6em;
  }

  #userInfo {
    flex-direction: row;
  }

  .image > img {
    width: 9.3em;
  }

  .image {
    display: inline;
    border-bottom: none;
    border-right: 2px solid var(--primaryPink);
  }

  .repos,
  .info {
    justify-content: space-around;
    width: 65%;
    margin: 2.5em auto;
  }

  .bio {
    gap: 5em;
  }

  .date,
  .language {
    font-size: 1rem;
  }
}
